<footer class="footer">
  <section class="social">
    <p>Síguenos en nuestras redes sociales</p>
    <div class="links">
      <a href="https://es-la.facebook.com/">
        <em class="fab fa-facebook-f"></em>
      </a>
      <a href="https://www.instagram.com/">
        <em class="fab fa-instagram"></em>
      </a>
      <a href="hhttps://github.com/LuisHarlin-20">
        <em class="fab fa-github"></em>
      </a>
    </div>
  </section>
  <div class="container">
    <small>Copyright &copy; Luis Harlin Barco Palacios & Jackeline Perez Dias</small>
  </div>
</footer>
