<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 text-uppercase">
  <div class="container">
    <a class="navbar-brand" href="#page-top">CENTRO DE SALUD</a>
    <button
      class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded"
            [routerLink]="['/patient/findAll']"
          >
            PACIENTES</a
          >
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded"
            [routerLink]="['/doctor/findAll']"
          >
            DOCTORES</a
          >
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded"
            [routerLink]="['/appointment/findAll']"
          >
            CITAS</a
          >
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded"
            [routerLink]="['/about']"
            >SOBRE NOSOSTROS</a
          >
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"
            >CONTACTO</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
